NODE_ENV=development
PORT=13000
API_BASE_URL=http://localhost:14000
API_SPEC_URL=http://localhost:14000/api/docs-json
VITE_PORTONE_STORE_ID=store-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
VITE_PORTONE_IDENTITY_VERIFICATION_CHANNEL_KEY=channel-key-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

APP_BASE_URL=http://localhost:13000
SESSION_SECRET=
