# Dependencies
node_modules/
.pnpm-store/

# Build & Output
dist/
build/
out/
.output/
.turbo/
.next/
.nuxt/
.vite/
*.tsbuildinfo

# Environment & Secrets (dotenvx)
.env.local
.env.*.local
.env.keys
.env.me
*.pem
*.key

# Logs & Debugging
logs/
*.log*

# System & IDE
.DS_Store
._*
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Caches & Testing
.cache/
.eslintcache
coverage/
tmp/
