NODE_ENV=development
PORT=14000
APP_SECRET=replace-with-at-least-16-characters-secret
DATABASE_URL=postgres://postgres:postgres@localhost:5432/admin_db
REDIS_URL=redis://localhost:6379
INTERNAL_JWT_SECRET=replace-with-at-least-16-characters-secret
INTERNAL_API_KEY=replace-with-at-least-16-characters-api-key
SERVICE_API_URL=http://localhost:4000
