# Application & Endpoints
NITRO_PORT=3000
BACKEND_URL=http://localhost:4000
API_SPEC_URL=http://localhost:4000/api/v1/docs-json

# GA Analytics
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Firebase Web SDK
VITE_FIREBASE_API_KEY=replace-with-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=replace-with-firebase-auth-domain
VITE_FIREBASE_PROJECT_ID=replace-with-firebase-project-id
VITE_FIREBASE_APP_ID=replace-with-firebase-app-id

# PortOne Identity Verification
VITE_PORTONE_STORE_ID=replace-with-portone-store-id
VITE_PORTONE_IDENTITY_VERIFICATION_CHANNEL_KEY=replace-with-portone-channel-key
