/* Noto Sans KR */
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/noto-sans-kr-100 900.woff2') format('woff2');
}

/* Noto Serif KR */
@font-face {
  font-family: 'Noto Serif KR';
  font-weight: 200 900;
  font-display: swap;
  src: url('/fonts/noto-serif-kr-200 900.woff2') format('woff2');
}
